<main>
  <div class='warning' *ngIf="error">
    <p>{{ error }}</p>
  </div>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Welcome back</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]='loginForm' (ngSubmit)='onSubmit()' *ngIf="!isLoading">
        <div class='form-field'>
          <mat-icon>email</mat-icon>
          <mat-form-field>
            <input matInput placeholder="E-mail" formControlName="email">
            <mat-error *ngIf="loginForm.get('email').hasError('required')">Email is required.</mat-error>
            <mat-error *ngIf="loginForm.get('email').hasError('email')">Email is not valid.</mat-error>
          </mat-form-field>
        </div>
        <div class='form-field'>
          <mat-icon>vpn_key</mat-icon>
          <mat-form-field>
            <input matInput placeholder="Password" type='password' formControlName="password">
            <mat-hint>Minimum 8 characters</mat-hint>
            <mat-error *ngIf="loginForm.get('password').hasError('required')">Password is required.</mat-error>
            <mat-error *ngIf="loginForm.get('password').hasError('minLength')">Password is at least 8 characters long.</mat-error>
            <mat-error *ngIf="loginForm.get('password').hasError('maxLength')">Password is at most 50 characters long.</mat-error>
          </mat-form-field>
        </div>
  
        <button mat-raised-button type="submit" color="primary" [disabled]="!loginForm.valid">Login</button>
      </form>
    </mat-card-content>
  </mat-card>

  <div class="spinner" *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
  </div>
</main>