<mat-toolbar color='primary'>
  <button mat-icon-button><mat-icon>menu</mat-icon></button>
  <div class='branding'>
    <a mat-button routerLink='/manager'>
      <mat-icon svgIcon="lemon"></mat-icon>
      <span>LemonMart</span>
    </a>
  </div>
  <div class='right' *ngIf="isAuthenticated">
    <button mat-icon-button routerLink="/user/profile" matTooltip="Profile"><mat-icon>account_circle</mat-icon></button>
    <button mat-icon-button matTooltip="Logout" (click)="onLogout()"><mat-icon>exit_to_app</mat-icon></button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>