<mat-toolbar color='primary'>
  <button mat-icon-button><mat-icon>menu</mat-icon></button>
  <div class='branding'>
    <a mat-button routerLink='/home'>
      <mat-icon svgIcon="lemon"></mat-icon>
      <span>LemonMart</span>
    </a>
  </div>
  <div class='right'>
    <button mat-icon-button routerLink="/user/profile" matTooltip="Profile"><mat-icon>account_circle</mat-icon></button>
    <button mat-icon-button routerLink="/user/logout" matTooltip="Logout"><mat-icon>login</mat-icon></button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>